input[type="text"] {
  background-color: greenyellow;
  width: 150px;
  margin-bottom: 10px;
}

input[type="button"] {
  border-radius: 4px;
  border-width: thin;
}

label[for="visitante"] {
  color: orangered;
  font-weight: bolder;
  font-size: large;
}
